.app{
  height: 100vh;
  display: grid;
  grid-template-rows: 50px fit-content(36px) auto 100px;
  grid-template-areas: "header"
                      "banner"
                      "main"
                      "footer";
}

.header{  
  grid-area: header;
}

.banner{
  grid-area: banner;
}

.main{
  grid-area: main;
}

.footer{
  grid-area: footer;
}

