.nav{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item{
    padding: 5px 10px;

    a{
      color: white;
      text-decoration: none;
    }

    &--active {
      color: blue;
      font-weight: bold;
    }

    &-logout{
      padding: 0 10px;
    }

    &-cart{
      position: relative;
    }
  }
}

.cart-tag{
  background: lightseagreen;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: -5px;
  right: -7px;
  padding: 1px;
  text-align: center;
  font-weight: bold;
}