
.nav{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &__item{
    padding: 5px 10px;

    a{
      color: white;
      text-decoration: none;
    }

    &--active {
      color: blue;
      font-weight: bold;
    }
  }
}